<div *ngIf="peliculas!=null; else espera" class="d-flex">
        <div class="card m-3" style="width:400px ">
          <img class="card-img-left" src="{{peliculas.image}}" alt="Card image">
        </div>
        <div class="p-4">
          <h1 class="p-2">{{ nombre | uppercase }}</h1>
          <h3 class="p-2">Recaudación: {{ recaudacion | currency:'$'}}</h3>
          <!-- <h3 class="p-2">Recaudación en euros: {{ recaudacion | conversor }}</h3> -->
          <p class="p-2">Fecha actual: {{ fechaActual | date:'d/M/y' }}</p>
        </div>
        
  </div>
    <ng-template #espera>Esperando datos...</ng-template>